body {
  background-color: #d3e0dc;
  color: #596e79;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #7c9473;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
